        body {
            font-family: monospace;
            text-align: center;
            padding: 20px;
        }
        table {
            width: 80%;
            border-collapse: collapse;
            margin: 20px auto;
            border-radius: 20px;
        }
        th, td {
            padding: 10px;
            text-align: left;
            border: 1px solid;
        }
        th {
            background-color: #FFCB05;
            color: #00151e;
        }
        .container {
            width: 80%;
            margin: auto;
        }
        .filter-form {
            margin-bottom: 20px;
        }
        .summary-card {
            display: inline-block;
            width: 30%;
            padding: 15px;
            margin: 10px;
            background: #00151e;
            color: white;
            border-radius: 10px;
            box-shadow: 2px 2px 5px #aaa;
        }
        button {
            color: #00151e;
            background: #FFCB05;
            border: none;
            border-radius: 30px;
            width: 80px;
            height: 40px;
            font-size: 15px;
        }
        h2 {
            font-size: 50px;
        }
        label {
            font-size: 25px;
        }
        select {
            width: 150px;
            height: 45px;
            border-radius: 20px;
        }
